<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletFilterProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Catnip</filter-name>
    <filter-class>org.webdroid.catnip.filter.BadInputFilter</filter-class>
    <init-param>
    	<param-name>allow</param-name>
    	<param-value>false</param-value>
    </init-param>
    <init-param>
    	<param-name>deny</param-name>
    	<param-value>&lt;script</param-value>
    </init-param>
    <init-param>
        <param-name>escapeQuotes</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
    	<param-name>escapeAngleBrackets</param-name>
    	<param-value>false</param-value>
    </init-param>
    <init-param>
    	<param-name>escapeJavaScript</param-name>
    	<param-value>false</param-value>
    </init-param>
  </filter>
<filter-mapping>
    <filter-name>Catnip</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>